.student-list
  .header
    width 800px
    margin 0 auto
    font-weight bold
    font-size 16px
    display flex
    justify-content space-between
    align-items center
    margin-bottom 30px

  .list-wrap
    margin 0 auto
    width 800px

    .list-item
      padding 20px
      display flex
      background #f6f6f6

      > div
        flex 1
        text-align center


.student-detail-dialog
  position absolute
  width 100vw
  height 100vh
  top 0
  left 0
  background rgba(0,0,0,0.5)
  display flex
  justify-content center
  align-items center

